In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Airline Dataset Updated - v2.csv")

In [7]:
data.head(5)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time

In [5]:
data.isnull()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98615,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98616,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98617,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98618,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data.describe()

                Age
count  98619.000000
mean      45.504021
std       25.929849
min        1.000000
25%       23.000000
50%       46.000000
75%       68.000000
max       90.000000

# Getting the unique data from the target column

In [17]:
unique_status = data["Flight Status"].unique()

In [18]:
unique_status.sort()

In [19]:
unique_status

array(['Cancelled', 'Delayed', 'On Time'], dtype=object)

# Zip makes pair for the corresponding given data

In [20]:
lst = [0,1,2]

In [24]:
map_status = dict(zip(unique_status, lst))
map_status

{'Cancelled': 0, 'Delayed': 1, 'On Time': 2}

# Changing Categorical column into numerical one (Label_encoding)

In [29]:
# for status, status_code in map_status:
for i in range(len(data)):
    status = data.loc[i, "Flight Status"]
    if status in map_status:
         data.loc[i, "Flight Status"] = map_status[status]


    
    # if data.loc[i, "Flight Status"] == status:
    #     data.loc[i, "Flight Status"] = status_code
    # else:

In [31]:
data["Flight Status"].unique()

array([2, 1, 0], dtype=object)

In [38]:
x = data[["Passenger ID", "Gender", "Age", "Airport Country Code", "Departure Date", "Arrival Airport", "Flight Status"]]
x

,Passenger ID,Gender,Age,Airport Name,Airport Country Code,Departure Date,Arrival Airport,Flight Status
0,ABVWIg,Female,62,Coldfoot Airport,US,6/28/2022,CXF,2
1,jkXXAX,Male,62,Kugluktuk Airport,CA,12/26/2022,YCO,2
2,CdUz2g,Male,67,Grenoble-Isère Airport,FR,1/18/2022,GNB,2
3,BRS38V,Female,71,Ottawa / Gatineau Airport,CA,9/16/2022,YND,1
4,9kvTLo,Male,21,Gillespie Field,US,2/25/2022,SEE,2
...,...,...,...,...,...,...,...,...
98614,hnGQ62,Male,85,Hasvik Airport,NO,12-11-2022,HAA,0
98615,2omEzh,Female,19,Ampampamena Airport,MG,10/30/2022,IVA,0
98616,VUPiVG,Male,65,Albacete-Los Llanos Airport,ES,09-10-2022,ABC,2
98617,E47NtS,Female,34,Gagnoa Airport,CI,10/26/2022,GGN,0
98618,8JYEcz,Female,10,Yoshkar-Ola Airport,RU,4/16/2022,JOK,1

In [37]:
data.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,2
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,2
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,2
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,1
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,2

In [ ]:
# from sklearn import

In [42]:
len(data["Airport Name"].unique())

9062

In [43]:
len(data["Airport Country Code"].unique())

235

In [44]:
len(data["Arrival Airport"].unique())

9024