In [16]:
import pandas as pd
import numpy as np
import plotly.express as ex

In [17]:
from sklearn.datasets import make_regression

In [ ]:
# x,y = make_regression (n_samples=200, n_features = 2, n_informative =2 , n_target=1)

In [8]:
x, y = make_regression(n_samples=200, n_features=2, n_informative=2, n_targets=1)

In [9]:
x

array([[ 1.0449149 , -1.74219728],
       [-0.5176605 , -0.58961601],
       [-0.67461538,  0.66996446],
       [-0.87400743, -0.35346972],
       [ 0.02855011, -2.07200332],
       [-1.13255059, -0.14385849],
       [-0.40152367,  0.37823604],
       [ 0.71697734,  0.83128273],
       [ 1.14317315,  1.65371417],
       [-0.00282219, -2.43421903],
       [ 0.40645469, -1.86713491],
       [-0.26161774,  0.49545305],
       [-0.7653632 ,  0.53249566],
       [ 0.15819188, -0.77009079],
       [ 0.24275412,  0.86537635],
       [-0.77053629, -0.47818529],
       [-0.32415823,  0.09175219],
       [ 0.71897068, -2.62196448],
       [ 0.95659105,  1.20675908],
       [ 0.10390521, -1.35031572],
       [-1.10596523,  0.2687731 ],
       [-0.43099974,  1.47921317],
       [ 0.74965498,  0.27033965],
       [ 1.22448835,  1.28888597],
       [ 0.82761111, -2.21318341],
       [-0.35253683,  1.70037142],
       [-1.13649153,  0.61248214],
       [ 0.82973804,  0.64917745],
       [-2.00741557, -0.32555548],
       [ 1.64628234,  0.87255642],
       [-0.72651421,  0.03925401],
       [-1.33129851, -0.33937999],
       [-0.71939604,  0.27740229],
       [-0.15906754, -0.8425372 ],
       [ 1.93101736, -1.35995594],
       [ 1.03563195, -0.67611568],
       [ 1.23531883, -0.82549428],
       [-2.41547487, -0.4318045 ],
       [ 1.88154846, -1.06733585],
       [-0.20611885, -1.87150679],
       [-1.07426655, -0.1274148 ],
       [-0.12258541,  1.25993507],
       [ 0.02666326, -1.02254357],
       [ 0.45815125, -1.8879537 ],
       [-0.55897962,  0.92769111],
       [ 0.60728399,  0.39863561],
       [ 0.03467992,  1.75751236],
       [ 0.77788269,  1.20421557],
       [-0.98189104,  0.03485339],
       [ 1.0296537 ,  0.76923024],
       [-0.23483482, -0.79524908],
       [-0.88541469,  0.30612519],
       [-2.07690734, -0.37931457],
       [ 1.70651304,  0.07899907],
       [-1.28423441, -2.15161679],
       [-0.62813266,  0.13299758],
       [ 0.16910635,  0.61219373],
       [-0.44839827,  0.5069685 ],
       [-0.22532154,  1.26396112],
       [-0.90783591, -0.36084075],
       [ 0.04065851,  0.59582275],
       [-0.09802696,  0.92797239],
       [ 0.6583714 , -1.70946003],
       [-1.83175069, -1.91586618],
       [ 0.11723093,  1.99458223],
       [-1.8549555 ,  0.25500488],
       [-0.07200253, -1.09838301],
       [-0.15993875, -0.63211381],
       [ 0.41303962,  0.35728369],
       [-0.7362504 ,  0.50603824],
       [ 0.04083588, -0.83780721],
       [ 0.16277508, -0.27813426],
       [-0.23482737, -0.87782463],
       [-1.10393919,  0.30516132],
       [ 0.71799226, -0.12261704],
       [-0.14492978,  0.4768856 ],
       [ 1.63428532,  1.60562212],
       [-1.02841617,  0.68592867],
       [-1.16626397, -0.40842944],
       [ 0.03989022, -1.05855074],
       [-1.10188144, -0.08783839],
       [-0.49695711, -0.54608177],
       [ 0.75235344, -0.46088771],
       [ 2.17241086, -0.77984568],
       [-2.08940018,  0.01815958],
       [ 0.8878047 ,  0.30786998],
       [-0.03154226,  0.20000196],
       [ 0.45460894,  0.41368079],
       [-0.2587228 , -1.10558994],
       [ 0.31501836,  0.38375395],
       [ 1.57391753,  1.32776382],
       [-0.68658809, -0.01459113],
       [ 0.75581574, -0.98640845],
       [-1.36673927, -0.06352405],
       [ 0.46331408,  0.92729473],
       [ 0.55864016, -0.78938698],
       [-0.39125674,  1.69645103],
       [-0.17668929,  0.03253627],
       [-0.03966759, -0.66914047],
       [ 0.6322575 ,  0.04679654],
       [ 0.16068734, -0.31248629],
       [ 0.15513696,  0.46211473],
       [-1.79627478, -1.38061197],
       [-0.92556227, -1.67021352],
       [ 0.82262188, -0.87811356],
       [ 1.06215634, -0.65044397],
       [-1.87022706,  0.12412307],
       [-1.39173945, -0.37555738],
       [ 2.11779328, -1.26519853],
       [-1.71386048,  0.0192544 ],
       [-0.6261437 ,  0.29281688],
       [-0.92855847,  0.00436073],
       [ 0.64361522, -1.09092188],
       [ 1.73071736,  1.01520556],
       [ 0.81781343, -0.12458265],
       [ 0.07526514, -0.7060494 ],
       [ 0.41638338,  0.26099803],
       [-0.30278013, -1.0279603 ],
       [-0.18432407,  0.10716633],
       [ 0.14236829,  0.13307508],
       [-0.28774593,  0.30083816],
       [-0.95828423,  0.53174309],
       [-1.56281295,  0.85905811],
       [-0.06295377, -1.39733812],
       [-0.36301065,  0.37361866],
       [ 0.20951456,  1.15503113],
       [-1.34591557, -0.80338921],
       [ 1.39812029, -0.62846301],
       [ 1.18732601,  0.95323084],
       [-0.92489364,  1.00852099],
       [ 0.24677529,  1.76108806],
       [-0.26183595,  1.28480126],
       [-0.57127954,  1.85190483],
       [ 0.90916601,  0.80990547],
       [-0.41565772,  0.20905718],
       [-0.18727047, -0.00499024],
       [ 0.10783848, -0.44542822],
       [ 0.63501133, -0.26837428],
       [ 1.84349   , -1.61250541],
       [-0.38953469, -0.41947552],
       [-0.81606036,  0.34362389],
       [ 0.69185153,  1.90772403],
       [-0.31737264, -0.53106495],
       [ 0.81194209,  0.10941976],
       [ 0.86753607, -0.48753083],
       [-0.36545645, -0.13142862],
       [ 0.21517541,  0.38406766],
       [-1.31457276, -1.85901513],
       [-2.63994494,  0.1259249 ],
       [ 1.91756638,  1.03780042],
       [ 0.1992572 , -0.01212174],
       [-0.50028339,  0.59373366],
       [-1.48435662,  1.86191115],
       [ 1.94528655,  1.1643249 ],
       [ 0.03254519,  0.18949369],
       [-0.47842043, -0.00798169],
       [-1.24177595, -1.27340997],
       [-0.52231557,  0.05964288],
       [-1.87539574,  1.44425223],
       [ 0.54897099,  0.5107872 ],
       [ 0.22370947,  0.64771815],
       [-2.02058452, -0.26637822],
       [-0.35876995, -0.22261594],
       [-0.05824183, -2.32878699],
       [ 1.00499029,  1.3381257 ],
       [ 0.4579652 , -0.22435334],
       [ 0.03670474, -0.00695772],
       [-1.00500728,  0.0524774 ],
       [-0.12037522, -1.07723624],
       [ 0.53779344,  0.19610996],
       [ 0.60453961,  0.59247312],
       [ 0.50022722,  0.10836795],
       [ 0.23616558, -0.29377221],
       [-1.11040238,  0.48639475],
       [-0.87911185, -1.29359503],
       [-0.05924634,  0.24295535],
       [ 1.36907987, -0.51824367],
       [ 1.45171877, -0.85556964],
       [-0.86554563,  0.4088858 ],
       [-0.35438729, -1.78217356],
       [ 0.87366718, -0.03064974],
       [-1.06050948, -0.83679272],
       [-1.20031324, -0.5069344 ],
       [ 0.33878374, -1.14816367],
       [ 1.30449307,  0.04078009],
       [ 0.36456661, -0.82353682],
       [ 0.48819833, -1.77660552],
       [-0.32694204, -0.63667738],
       [ 0.68594687, -2.61581647],
       [-0.16585367,  0.16231587],
       [ 0.34193367,  1.18276084],
       [-0.56293007,  0.04740672],
       [-0.42437284, -1.09745307],
       [ 0.09440564,  0.37768597],
       [ 0.29202841, -0.43203366],
       [-1.29753664, -0.07633505],
       [-0.05091289, -0.2149501 ],
       [ 0.41584732, -0.18485571],
       [-0.18806546, -0.01970909],
       [ 0.61205924,  0.26002292]])

In [13]:
data_dict = {'Feature1': x[:, 0], 'Feature2': x[:, 1], 'Target': y}

In [14]:
df = pd.DataFrame(data_dict)

In [15]:
df

     Feature1  Feature2      Target
0    1.044915 -1.742197  -85.964098
1   -0.517660 -0.589616  -34.736056
2   -0.674615  0.669964   31.290853
3   -0.874007 -0.353470  -24.474660
4    0.028550 -2.072003 -110.101208
..        ...       ...         ...
195 -1.297537 -0.076335  -12.466696
196 -0.050913 -0.214950  -11.770849
197  0.415847 -0.184856   -7.146002
198 -0.188065 -0.019709   -2.267076
199  0.612059  0.260023   17.804252

[200 rows x 3 columns]

In [35]:
data = pd.read_csv ("Salary_dataset.csv")

In [29]:
data

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [25]:
# data= data.drop(" "axis=1)

In [ ]:
#  Command line below, helps to delete the unnamed coloumn of the dataset.

In [26]:
data.drop(data.columns[data.columns.str.contains('unnamed', case=False)], axis=1, inplace=True)

In [ ]:
# 0 is he indexing or place of the unnamed column

In [36]:
data= data.drop(data.columns[[0]],
               axis = 1)

In [37]:
data

    YearsExperience    Salary
0               1.2   39344.0
1               1.4   46206.0
2               1.6   37732.0
3               2.1   43526.0
4               2.3   39892.0
5               3.0   56643.0
6               3.1   60151.0
7               3.3   54446.0
8               3.3   64446.0
9               3.8   57190.0
10              4.0   63219.0
11              4.1   55795.0
12              4.1   56958.0
13              4.2   57082.0
14              4.6   61112.0
15              5.0   67939.0
16              5.2   66030.0
17              5.4   83089.0
18              6.0   81364.0
19              6.1   93941.0
20              6.9   91739.0
21              7.2   98274.0
22              8.0  101303.0
23              8.3  113813.0
24              8.8  109432.0
25              9.1  105583.0
26              9.6  116970.0
27              9.7  112636.0
28             10.4  122392.0
29             10.6  121873.0